.modal-final{
  display: none;
  position: relative;
}

.modal-final__overlay::after{
   content: '';
   /* position: absolute; */
   top: -210px;
   right: -7px; 
   position: relative;
   width: 24px;
   height: 22px;
   background-image: url('../images/modal-close.svg');
   background-repeat: no-repeat;
   z-index: 50;
   cursor: pointer;

}

.modal-final__overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    display: none;
    transition: all 0.3 ease-in-out;
    z-index: 50;
}

.modal-final__content{
    position: relative;
    background: var(--dark-blue);
    width: 760px;
    height: 432px;
    border-radius: 5px 60px 5px 60px;
    padding: 40px;
    overflow: initial;
    display: none;
}

.modal-final__content::before{
    content: '';
    position: absolute;
    width: 395px;
    height: 302px;
    bottom: -19px;
    left: -6px;
    background-image: url('../images/modal-bj-partners.webp');
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 160px;
    z-index: 10;
    
    
}

.modal-final-visible{
    display: block;
}

.modal-final__content-visible{
    display: block;
}

.modal-final__overlay-visible{
    opacity: 1;
    /* visibility: visible; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3 ease-in-out;
}

@media screen and (max-width: 768px) {
    .modal-final{
        display: none;
    }
}
